/* ini bootstrapcdn */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

/*ini sudah aku default kan */
body{
	background-color: #f7f7f7;
}

a{
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
}
/* ini bagian header */
.download a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 8px 8px;
}
.download {
	float: right;
	line-height: 33px;
	position: absolute;
	right: 6%;
	top:	8%;
	background-color: #008d00;
	font-size: 17px;
	border-radius: 8px;
}

.download:hover {
	background-color: #23a800;
}

.download a:hover {
	color: white;
}

.bell-1{
	color: darkgrey;
	position: absolute;
	top: 10%;
	right: 18%;
	padding: 4px;
	margin-left: 4px;
}

.logo1 {
	height: 65px;
	width: 65px;
	position: absolute;
	left: 3%;

}

.logo-2 {
	 position: absolute;
 	left: 150px;
}

header {
	height: 65px;
	padding: 0 20px;
	background: white;
	border: none;
	width: 100%;
	position: fixed;
	box-shadow: 0 0 32px -4px rgba(0, 0, 0, .15);
}

.logo {
	line-height: 33px;
	float: left;
	text-transform: uppercase;
	background: transparent;
	margin-left: 20px;
	color: black;
	text-indent: 100px;
	font-size: 18px;
}

.menu{
	line-height: 60px;
	background: transparent;
	float: right;
	margin-right: 280px;

}

.menu a{
	color: rgba(0,0,0,0.8);
	text-decoration: none;
	padding: 0 8px;
	transition: 0.3s;
	background: transparent;
	margin: 0 5px;
	border-radius: 8px;
}

.menu a:hover{
	color: rgba(0,0,0,0.3);
	padding: 8px;
	background-color: rgba(0,0,0,0.3);
}



.bell-1:hover {
	background-color: #ecf0f1;
	color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	padding: 4px;
}
/* sampai sini ya guys headernya */

//* Main */

.main{
	height: 700px;
	width: 100%;
	background-color: #f7f7f7;
	text-align: center;
}

.main-body{
	padding-top: 20px;
	display: inline-block;
	height: 100%;
	width: 93%;	margin-top: 100px;
}



.pelayanan{
	background-color: #399f4f;
	width: 100%;
	height: 200px;
	border-radius: 10px;
	color:white;

}

.pelayanan .number{
	font-size: 30px;
	line-height: 150px;
	margin-top: 10px;
	padding-right: 10px;
	float: left;
	margin-left: 50px;
	border-right: 1px white solid;
	padding-bottom: 20px;
}

.txt-head{
	padding: 20px;
}

.txt{
	width: 670px;
	text-align: left;
	margin-top: 20px;
}

.txt h1{
	margin-bottom: 10px;
}

.contact img{
	width: 600px;
	float: right;
	border-radius: 10px;
	border: 5px white solid ;
	box-shadow: 0 0 2px 1px rgb(116, 123, 173);
	opacity: 0.9;
}

.contact{
	margin-top: 20px;
	margin-bottom: 20px;
}

.blok{
	background-color: white;
	margin-right: 640px;
	border-radius: 10px;
	height: 160px;
	box-shadow: 0px 1px 1px rgb(116, 123, 173);
	opacity: 1;
}

.call-center{
	margin-top: 23px;
}

.blok h3{
	font-weight: normal;
	padding-top: 15px;	
}

.icon{
	padding-top: 30px;
	display: inline-block;
	width: 220px;
	color: #48bb78;
}

/* untuk icon nya */
i{
	float: left;
}

.klik{ 
	font-size: 25px;
}

.blok a{
	height: 100%;
	color: black;
	display: block;
}

.blok a:hover{
	background-color: rgba(9,186,135,0.26);
	transition: 1s;
}

.risiko{
	margin-top: 50px;
	font-size: 15px;
	text-align: center;
	margin-bottom: 700px;
	color: rgba(0,0,0,0.82);

}

.garis{
	margin: 0 auto;
	width: 500px;
	border: 1px solid rgb(116, 123, 173);
	box-shadow: 0 2px 10px 1px black;
}

.penjelasan-image img{
	width: 400px;
}

.box{
	margin-bottom: 50px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;

	border: 1px solid whitesmoke;

	box-shadow: inset 0 0 5px 1px rgb(116, 123, 173);
	font-size: 17px;
	position: relative;
}

.gejala{
	color:white;
	padding: 25px;
	border-radius: 10px;
	margin: 5px;
	font-size: 15px;;
	text-align: left;

	background-color: rgba(209,48,53,0.95);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.gejala p{
	width: 60%;
}

.gejala li{
	margin: 5px 0;
	list-style: circle;
}

.pencegahan{
	width: 670px;
	font-size: 15px;
	padding: 25px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	text-align: left;
	

	margin: 100px 5px;
}


.COVID-19{
	margin-top: 20px;
}


.pencegahan h1{
	font-size: 20px;
	margin-bottom: 20px;
}

.pencegahan li{
	margin: 5px 0;
	list-style: circle;
	margin-right: 10px;
}
.box img{
	width: 40%;
}

.imageP{
	position: absolute;
	top: 8%;
	right: 5%;
}

/* finish main(kamal) */



  /* tambahan css search */
input, textarea {
  width: 200px;
  height: 30px;

  font-size: 15px;
  border: 1px solid #dee7ec;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 30px
  padding-bottom: 50px;
  margin-bottom: 15px
}

.search-submit {
  background-color: #dee7ec;
  font-color: #889eab;
  display:block;
  margin-top: 25px;
  height: 50px;
  width: 200px;
  font-size: 18px;
}

.search {
  font-family: montserrat;
}
/* tambahan css search selesai */
